.form_row_container
{
    margin-bottom: 0.5em;
}

.form_row_container > label
{
    display: block;
    height: 2em;
    padding: 0 0.5em;

    font-size: 1.4em;
    font-weight: bold;

    -webkit-transition:height 500ms ease;
    -moz-transition:height 500ms ease;
    -ms-transition:height 500ms ease;
    -o-transition:height 500ms ease;
    transition:height 500ms ease;

    overflow: hidden;
}

/*.form_container:hover .form_row_container > label {height: 0;}
.form_container .form_row_container:hover > label {height: 2em;}*/

.form_row_container input[type="text"],
.form_row_container select
{
    width: 100%;
    padding: 0.5em 1em;

    color: #333333;
    font-size: 1.4em;

    border:2px solid #cccccc;
    border-radius:3px;

    -webkit-transition:border-color 500ms ease;
    -moz-transition:border-color 500ms ease;
    -ms-transition:border-color 500ms ease;
    -o-transition:border-color 500ms ease;
    transition:border-color 500ms ease;
}

.form_row_container_highlight input[type="text"],
.form_row_container_highlight select
{
    border-color: #ffb303;
}

.form_bottom_row_container
{
    height: 2.4em;
    font-size: 1.6em;
}

.form_gallery_image_container
{
    display: inline-block;
    position: relative;
    padding: 1em;
    margin: 1em 0;

    background: #ffffff;

    vertical-align: top;
}

@media only screen and (min-width:480px) and (max-width:991px)
{
    .form_gallery_image_container {width: 48%;margin:1em 1%;}
}

@media only screen and (min-width:992px)
{
    .form_gallery_image_container  {width: 23%;margin:1em 1%;}
}

.form_gallery_image_container_delete
{
    display: none;
}

.form_gallery_uploader_trigger
{
    display: block;
    background: #ffffff;

    border:2px solid #cccccc;
    border-radius: 3px;
}

.form_gallery_image_file
{
    padding-bottom: 1em;
}

.form_gallery_uploader_trigger_container .form_gallery_image_file
{
    padding: 0.5em;
}

.form_gallery_image_delete_trigger
{
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top:-10px;
    right:-10px;

    background: #666666;

    border-radius: 50%;

    color: #ffffff;
    line-height: 30px;
    text-align: center;

    cursor: pointer;

    -webkit-transition:opacity 500ms ease;
    -moz-transition:opacity 500ms ease;
    -ms-transition:opacity 500ms ease;
    -o-transition:opacity 500ms ease;
    transition:opacity 500ms ease;

    opacity: 0;
    z-index: 100;
}

.form_gallery_image_container:hover .form_gallery_image_delete_trigger
{
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

.form_gallery_image_delete_trigger:before
{
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 18px;
    content: '\f00d';
}