.members_organization_block_container_active .block_cover_over_link_container > a
{
    background: rgba(255,179,3,0.2);
    border:2px solid #ffb303;
}

.members_organization_block_container .footer_action_wrapper
{
    opacity: 0;
    pointer-events: none;

    -webkit-transition:opacity 500ms ease;
    -moz-transition:opacity 500ms ease;
    -ms-transition:opacity 500ms ease;
    -o-transition:opacity 500ms ease;
    transition:opacity 500ms ease;
}


.members_organization_block_container_active .footer_action_wrapper
{
    opacity: 1;
    pointer-events: auto;
}
